:root {
    --primario: #71b100;
    --secundario: #e08709;
}
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

/* NAVAR */

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}

.navbar-brand span {
    font-weight: 900;
}

.bg-dark {
    background-color: #71b100!important;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;   
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #71b100;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
    text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e08709;
}

/* SLIDER */

.carousel-caption h3 {
    font-size: 2.4rem;
}

.bloque-info p {
    font-size: 1.4rem;
}

.btn-warning {
    background-color: #e08709;
    color: #ffffff;
    border-color: #e08709;
    font-weight: 700;
}

/* NOSOTRO */

.sobre-nosotros h3 {
    font-size: 1rem;
    font-weight: 700;
}

/* ANUNCIO */

.anuncios .card {
    margin-bottom: 2rem;
}

.card-precio {
    font-size: 1.1rem;
    color: #71b100;

}

.card-descripcion img {
    margin-right: .5rem;
}

/* ENCUENTRA */

.encuentra {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.encuentra .row {
    height: 25rem;
}

.encuentra h3 {
    font-size: 2.2rem;
    font-weight: bold;
}

.entrada h3::after {
    content:'';
    display: block;
    width: 8rem;
    height: .2rem;
    background-color: #71b100;
    margin-top: .5rem;
}

.meta span {
    color: #e08709;
}

.btn-success {
    background-color: #71b100;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.btn-success:hover {
    background-color: #b0f33d;
    color: #71b100;
    border: none;
}

/* Testimoniales */

.testimoniales {
    background-color: #71b100;
    color: #ffffff;
}

.testimoniales .carousel-item {
    padding-left: 2rem;
}

.testimonial-texto {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
}


.testimonial-texto::before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 1rem;
    font-weight: 900;
}

.testimoniales span {
    font-size: 1.4rem;
    font-weight: 900;
}

footer.bg-dark {
    background-color: #292828!important;
}

footer .nav-link {
    color: #ffffff;
    text-transform: uppercase;
}


@media (min-width: 768px) {
    .barra.bg-dark {
        background-color: transparent!important;
    }
    header {
        position: relative;
    }
   header .barra {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}